<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyECr3H9UCexpgAjeS1Pyl5C5U0yE0Hmg</string>
	<key>GCM_SENDER_ID</key>
	<string>748299435231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelManagementUser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hostel-management-85321</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-management-85321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748299435231:ios:cced2362f72d7d51c83d6a</string>
</dict>
</plist>